div{
	
	border: 1px solid orange;
	padding-left: 0px;
	height: 250px;
	width: 220px;
	font-family:bold;
	font-size: 17px;
	padding-bottom: 10px;

}

.a{
	
	padding-left: 0px;
	padding-bottom: 10px;

}

.c{
	
	padding-left: 0px;
	padding-bottom: 10px;

}
