body{
	
	border: 1px solid orange;
	padding-left: 10px;
	height: 250px;
	width: 220px;
	text-align: left;
	font-family:bold;
	font-size: 17px;
	font-weight:lighter;
	padding-bottom: 10px;

}/* Agrega aqui tu CSS */